
/*selection*/

@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700|Open+Sans:300,300i,400,400i,600,700');
* {
    margin: 0;
    padding: 0;
    outline: 0;
}

ul,
ol {
    list-style: none
}

a {
    text-decoration: none
}

a:focus {
    border-color: transparent;
}

img {
    border: 0;
}

.clr {
    clear: both;
}

body {
    font-family: 'Raleway', 'Open Sans', sans-serif;
    overflow-x: hidden;
}

a,
.icon-color {
    color: #222222;
}

.fs-26 {
    font-size: 26px;
}

.fs-18 {
    font-size: 18px;
}

.fs-14 {
    font-size: 14px;
}

.fs-22 {
    font-size: 22px;
}

a:focus,
a:hover {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

p {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.7em;
    font-size: 15px;
}

.shape2::before{
    content: "";
    position: absolute;
    background: #1ABC9C;
    top: 103.5%;
    bottom: 14px;
    left: 43%;
    right: 2px;
    height: 2px;
    width: 130px;
}
.shape2::after{
    content: "";
    position: absolute;
    background: #1ABC9C;
    top: 101%;
    bottom: 14px;
    left: 48%;
    right: 0px;
    height: 6px;
    width: 50px;
}

.top-bar-text li{
    display: inline-block;
    margin-right: 20px;
}
.header-top{
    background-color:#ffffff;
    padding: 10px 0;
}
.top-bar-text{
    margin-top: 5px;
}
.header-menu{
    padding: 20px 0;
    background: #1ABC9C;
}
.navbar{
    background-color: transparent;
    margin: 0;
    border: 0;
}
.navbar ul{
    display: inline-block;
    margin-right: -3%;
}
.navbar-default .navbar-nav>li>a{
    font-family: 'Open Sans',sans-serif;
    color:#ffffff;
    font-weight: 700;
    padding: 20px 10px;
    text-transform: uppercase;
    outline: 0;
    transition: all 0.5s ease 0s;

}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #222222;
    background-color: transparent;
    font-family: 'Open Sans', sans-serif;
}

/*about start*/
.about-skill{
    margin: 80px 0;
}
.about-skill .paragraph{
    margin-bottom: 40px;
}
.title-text{
    text-transform: uppercase;
    font-size: 35px;
}
.title-text span{
    font-family: 'Raleway', sans-serif;
    color: #1ABC9C;
    font-weight: 700;
}
/* .shape2::before{    
    position: absolute;
    bottom: 14px;
    left: 43%;
    top: 103.5%;
    content: "";
    height: 2px;
    width: 130px;
    background-color: #1ABC9C;
}
.shape2::after{
    position: absolute;
    bottom: 14px;
    left: 48%;  
    top: 101%;
    content: "";
    height: 6px;
    width: 50px;
    background-color: #1ABC9C;
} */
.about-image img{
    margin-top: 8%; 
}
.paragraph p{
    margin-top: 8%; 
}
.Progress-text h3{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    margin: 0;
    float: left;
    padding-bottom: 4px;
}
.Progress-text p{
    text-align: right;
    font-size: 14px;
    font-family: 'Open Sans',sans-serif;
}
.progress-bar{
    background-color: #1ABC9C;
}
.about-skill .skill .progress{
    height: 5px;
    width: 100%;
    background-color: #DCDCDC;
}
.service-area{
    background: #f1f1f1;
    padding: 94px 0 63px;
}



/* services start*/
.service-inner{
    margin-top: 94px;
}
.single-service-part{
    padding: 20px 1px;
}
.single-service-part:hover{
    cursor: pointer;
    box-shadow: 0px -1px 15px -1px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease 0s;

}
.single-service-part:hover h3{
    color: #1ABC9D;
}
.single-service-part i{
    color: #1ABC9D;
    font-size: 55px;
    padding-left: 40%;
}
.single-service-part h3{
    font-family: 'Raleway',sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #222222;
    text-align: center;
    text-transform: capitalize;
    padding: 15px 0;
}
.single-service-part p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #222;
    text-align: center;
    text-transform: capitalize;    
}

/*service end */
/*counter start */
.counter_banner{
    position: relative;
    background-color: #1ABC9C;
}
.bnr_overly{
    padding: 90px 0px 70px;
}
.counter-text i{
    color: #ffffff;
    font-size: 25px;
}
.counter-text h4{
    color: #fff;
    font-size: 32px;
    font-family: 'Raleway',sans-serf;
    font-weight: 700;
    padding: 10px 0px 10px;
}
.counter-text p{
    color: #fff;
    font-size: 16px;
    font-family: 'Open Sans',sans-serf;
    font-weight: 500;
    text-transform: capitalize;
}


/*counter end*/

/*contact us start */
.contact-full{
    margin-top: 20%;    
}
.cont-inline .cont-group h2{
    text-align: left;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Raleway',sans-serif;
    color: #1ABC9C;
    text-transform: capitalize;
    padding-bottom: 20px;
    margin: 0;
}
.cont-inline .cont-group textarea{
    position: relative; 
    height: 90px;
    font-family: 'Open Sans' ,sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #777777!important;
    margin-top: 11%;
    width: 100%;
    border: 1px solid #dddddd;
    padding: 5px 10px;
}
.cont-inline .cont-group .form-control {
    width: 100%;
    font-family: 'Open Sans',sans-serif;
    font-weight: 500;
    border: 1px solid #dddddd;
    padding: 5px 10px;
    height: 40px;
    color: #777777!important;
    font-size: 14px;
    text-transform: capitalize;
    margin-bottom: 10px;
    background-color: transparent;
    padding-left: 17px;
}

.form {
    background: #ffffff;
    width: 100%;
    padding: 44px 20px 20px 20px;
    border: transparent;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(118, 120, 122, 0.4);
    -moz-box-shadow: 0px 0px 10px 0px rgba(118, 120, 122, 0.4);
    box-shadow: 0px 0px 10px 0px rgba(118, 120, 122, 0.4);
    z-index: 999;
    position: inherit;
    outline: 0;
    margin-top: 78px;
}
.flato{
    margin-bottom: 21%;
}
.send-btn a{
    position: absolute;
    border-style: none;
    transition: all 0.3s ease;
    text-transform: capitalize;
    font-family: 'Open Sans',sans-serif;
    font-weight: 500;
    padding: 8px 30px;
    background-color: #1ABC9C;
    border-radius: 25px;
    font-size: 16px;
    color: #ffffff;
    right: 45%;
    text-decoration: none;
    cursor: pointer;
    border: transparent;
    outline: 0; 
}
.send-btn{
    margin-top: 2.2%;
}
.address{
    margin-top: 4%;
}
.address ul li a{
    background: #1ABC9D;
    height: 40px;
    width: 40px;
    color: #ffffff;
    padding: 6px 0px;
    text-align: center;
    font-size: 24px;
    border-radius: 50%;
    display: inline-block;
}
.address ul li i{
}
.address ul li{
    color: #1abc9c;
    font-family: 'Open Sans',sans-serif;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 500;
}

/*contact us end */
/*footer start*/
.footer_part{
    background: #1ABC9C;
    position: relative;
    margin: -11%;
    padding-top: 219px;

}
.bottom-footer p{
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Open Sans',sans-serif;
    border-top: 1px solid #ffff;
    padding: 20px 0 10px;    
}


/*footer end*/


/*price start*/
.price-bg::before{
    content: "";
    position: absolute;
    background-color: black;
    left: 0px;
    top: 0px;
    height: 100%;
    opacity: 0.8;
    width: 100%;
}
.price-bg{
    padding: 70px 0 91px;
    position: relative;
    background-image:url(../img/banner-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
.price-head h2{
    color: #fff;
}
.price-head{
    margin-bottom: 70px;
}
.event-priceing{
    border-right: 1px solid #ffffff;
}
.event-priceing:last-child{
    border: 0px;
    border-left: 1px;
    border-color: #fff;
    border-style: solid;

}
.event-priceing:nth-last-child(2) {
    border: none;
}
.event-priceing .plan-name{
    border-bottom: 1px solid #fff;
    padding: 26px 0;
    text-align: center;
    padding-top: 0;    
}
.event-priceing .plan-price{
    color: #1ABC9C;
    border-bottom: 1px solid #fff;
    text-align: center;
    padding: 10px 0;
    font-family: 'Raleway',sans-serif;    
}

.event-priceing .plan-price p{
    font-size: 40px;
}
.event-priceing .plan-details{
    text-align: center;
    padding: 25px 0;
}
.event-priceing .plan-details ul{
    margin: 40px 17px;
}

.event-priceing .plan-details li{
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    margin: 15px 0;
    font-family: 'Open Sans',sans-serif;
    text-align: left;
    padding: 0px 70px;
    margin: 15px 0;
}

.event-priceing .plan-details li:hover{
    color: #1ABC9C;
}

.event-priceing .plan-name h6:first-child, .event-priceing .plan-name h6:last-child{
    padding-top: 80px;
} 

.event-priceing .plan-name h6{
    font-size: 32px;
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 7px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #1ABC9C;
}
.event-priceing .plan-name small{
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Open Sans',sans-serif;
}
.best-offer-padding{
    padding: 22px;
}
.register-now-btn{
    padding: 16px 30px;
    background: #fff;
    border: 1px solid #fff;
    color: #1ABC9D;
    border-radius: 50px;
    font-size: 18px;
    margin-left: 0px;
}
.register-now-btn:hover{
    background: #1ABC9C;
    border: 1px solid #1ABC9C;
}


/*price end*/
/*blog start*/
.blog{
    padding: 82px 0 40px;
}
.blog h4{
    
}
.blog .blog-title{
    font-size: 18px;
    font-weight: 600;
    font-family: 'Open Sans',sans-serif;
    color: #222;
    margin-top: 31px;    
}
.blog .single-blog .blog-paragraph{
    margin: 10px 0 13px;
    font-family: 'Open Sans',sans-serif;
    font-size: 15px;
    line-height: 1.7em;
    color: #222;
    font-weight: 500;
}
.blog .single-blog .btn{
    transition: all 0.3s ease;
    background: #1abc9c;
    border: 1px solid #1ABC9C;
    border-radius: 25px;
    color: #fff;
    font-family: 'Open Sans',sans-serif;
    padding: 8px 30px;
    text-transform: capitalize;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    outline: 0;
}
.single-blog{
    margin-top: 71px;
}
.blog .single-blog .response {
}
.blog .single-blog .response .admin i, .comment i ,.like i{
    font-size: 20px;
    color: #1ABC9D;
    padding: 5px 4px;
}


.blog .single-blog .response .admin {
    float: left;
}
.blog .single-blog .response .like {
    float: right;
}
.blog .single-blog .response .comment {
    float: right;
}


/*blog end*/

/*team start*/
#team{
    margin: 100px 0px;
}
.all-team-member{
    padding: 81px 0px;
}
/*team end*/
/*testimonial start*/
.testimonial-full-body{
    margin: 27px 0px;
    background-color: #1ABC9D;
    padding: 66px 178px;
    color: #fff;
}
/*testimonial end*/
/*portfolio start*/
.filter-container{
    margin: 30px 0;
}
.portfolio-filter ul.filter li{
    font-size: 18px;
    color: #222222;
    line-height: 80px;
    text-transform: capitalize;
    font-weight: 500;
    cursor: pointer!important;
    font-family: 'Open Sans',sans-serif;

}
.portfolio-filter .filter .active{ 
    color: #1ABC9D!important
    
}
.portfolio-filter ul.filter li span{
    margin: 0px 10px;
    color: #222222;
    font-size: 20px;
    display: inline-block;
}

.portfolio-filter ul.filter li:hover{
    color: #1ABC9C;
}
.mix{
    display: inline-block;
}
.portfolo_img{
    overflow: hidden;
    margin-left: -0.4%;
    margin-bottom: -0.5%;
    position: relative;
}
.portfolo_img img{
    height: 250px;
    width: 285px;
    position: relative;
    overflow: hidden;

}
.overlay{

}
.overlay h3{
    
}
.overlay p{
    
}










/*portfolio end*/