
/*selection*/

@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700|Open+Sans:300,300i,400,400i,600,700');
* {
    margin: 0;
    padding: 0;
    outline: 0;
}

ul,
ol {
    list-style: none
}

a {
    text-decoration: none
}

a:focus {
    border-color: transparent;
}

img {
    border: 0;
}

.clr {
    clear: both;
}

body {
    font-family: 'Raleway', 'Open Sans', sans-serif;
    overflow-x: hidden;
}

a,
.icon-color {
    color: #222222;
}

.fs-26 {
    font-size: 26px;
}

.fs-18 {
    font-size: 18px;
}

.fs-14 {
    font-size: 14px;
}

.fs-22 {
    font-size: 22px;
}

a:focus,
a:hover {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

p {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.7em;
    font-size: 15px;
}


.top-bar-text li{
    display: inline-block;
    margin-right: 20px;
}
.header-top{
    background-color:#ffffff;
    padding: 10px 0;
}
.top-bar-text{
    margin-top: 5px;
}
.header-menu{
    padding: 20px 0;
    background: #1ABC9C;
}
.navbar{
    background-color: transparent;
    margin: 0;
    border: 0;
}
.navbar ul{
    display: inline-block;
    margin-right: -3%;
}


/*about start*/
.about-skill{
    margin: 80px 0;
}
.title-text{
    text-transform: uppercase;
    font-size: 35px;
}
.title-text span{
    font-family: ''Raleway', sans-serif';
    color: #1ABC9C;
    font-weight: 700;
}
/* .shape2::before{    
    position: absolute;
    bottom: 14px;
    left: 43%;
    top: 103.5%;
    content: "";
    height: 2px;
    width: 130px;
    background-color: #1ABC9C;
}
.shape2::after{
    position: absolute;
    bottom: 14px;
    left: 48%;  
    top: 101%;
    content: "";
    height: 6px;
    width: 50px;
    background-color: #1ABC9C;
} */
